"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "min.css"
      "min.js"
    ]
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "3fee79e3-35d6-e212-b5d4-f05cc98e03d2"
  welcome:
    showOnStartup: false
    
